@import "@flaticon/flaticon-uicons/css/all/all";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    @apply m-0 p-0 box-border text-base outline-orange/70 duration-100;
  }

  html {
    @apply overflow-x-hidden;
  }

  body {
    @apply font-inter font-normal text-black;
  }

  i {
    @apply mt-0.5;
  }

  section {
    @apply py-4 px-[5vw] md:px-[7vw] lg:px-[10vw];
  }

  ::selection {
    @apply bg-orange/10;
  }

  img {
    @apply w-full h-full object-cover;
  }

  .navbar {
    @apply z-10 sticky top-0 flex items-center gap-12 w-full px-[5vw] py-5 h-[80px] border-b border-grey bg-white;
  }

  .h-cover {
    @apply min-h-[calc(100vh-80px)];
  }

  .center {
    @apply block mx-auto;
  }

  .btn-dark {
    @apply whitespace-nowrap bg-black text-white rounded-full py-3 px-6 text-xl capitalize hover:bg-opacity-80;
  }

  .btn-orange {
    @apply whitespace-nowrap text-black rounded-full py-3 px-6 text-xl capitalize hover:bg-opacity-80;
  }

  .btn-light {
    @apply btn-dark bg-grey text-black;
  }

  .input-box {
    @apply w-[100%] rounded-full p-4 bg-grey pl-12 border border-grey  placeholder:text-black;
  }

  .input-icon {
    @apply opacity-50;
  }

  .input-icon {
    @apply absolute left-4 top-1/2 -translate-y-1/2;
  }
}
